.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;

    .form {
        .ItemButton {
            Button {
                background-color: #4DCACE;
                border: none;

                :hover {
                    color: black;
                }
            }
        }
    }

    .text{
        margin-left: 5em;
    }
}